.customRouterTabs {
  position: fixed;
  z-index: 9;
  top: 70px;
  margin-left: -10px;
  overflow-x: auto;
  border-bottom: 1px inset white;
  padding-bottom: 4px;
  white-space: nowrap;
  &::-webkit-scrollbar {
    height: 3px;
    background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cccccc;
  }
}
